@font-face{
  font-family: 'East Sea Dokdo', cursive;

  font-family: 'Open Sans', sans-serif;

  font-family: 'Roboto', sans-serif;
}

body{

  /*background-image: url('../img/PMH_160810_161846_0587.jpeg');*/
  /*background-repeat: no-repeat;*/
  /*background-position: bottom right;*/
  /*background-size: cover;*/
  background: rgb(150,214,233);
  background: linear-gradient(228deg, rgba(150,214,233,1) 1%, rgba(231,231,231,1) 89%);
  max-width: 90%;
  margin: auto;
  color: black;
  font-family: 'roboto', sans-serif;
  font-size: 22px;
}

h1, h2{
  text-align: center;
}
img{
  float: right;
  float-displace: indent;
  max-width: 35%;
  margin-left: 20px;
  margin-right: 20px;
}
table{
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
}

li{
  text-align: left;
}
th{
  font-weight: bold;
}

tr{
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}

tr:nth-child(2n)
{
  background: dimgrey;
}

header > h2{
  background-color: darkgoldenrod;
}

p {
  font-family:'Open Sans', sans-serif;
  word-spacing: 3px;
  font-size: 20px;
  color: #18365f;
}

p:first-of-type{
  font-weight: bold;
}

blockquote{
  width: 50%;
  margin: auto;
  font-size: 160%;
  background-color: lightgrey;
  border-left: 3px solid;
  border-left-color: firebrick;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

cite{
  display: block;
  text-align: right;
  padding-right: 60px;
  color: dodgerblue;
  font-size: 120%;
}

caption{
  caption-side: bottom;
  font-size: 80%;
  color: #313131;
  font-style: italic;
}

q{
  font-style: italic;
}

a{
  font-family: sans-serif;
  font-size: 22px;
}

a:hover{
  color: darkred;
}

a:visited{
  color: tomato;
}

/*CLASSES*/
.farmer{
  color: purple;
}

.villagers{
  color: green;
}
.bad{
  text-transform: capitalize;
  color: red;
}

.good{
  text-transform: capitalize;
  color: green;
}
.notification{
  color: white;
  padding: 6px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30%;
  border: solid #ffffff 3px;
  background-color: #25353e;
  border-radius: 16px;
  text-align: center;
}

.centered {
  width: 50%;
  margin: auto;
}


