body{

  /*background-image: url('../img/PMH_160810_161846_0587.jpeg');*/
  /*background-repeat: no-repeat;*/
  /*background-position: bottom right;*/
  /*background-size: cover;*/
  background: linear-gradient(-61deg, rgb(36, 35, 56), rgb(183, 183, 183));
  background: -webkit-linear-gradient(-61deg, rgb(36, 35, 56), rgb(183, 183, 183));
  max-width: 90%;
  margin: auto;
}
tr{
  background: white;
}

tr:nth-child(2n)
{
  background: dimgrey;
}
header > h2{
  background-color: darkgoldenrod;
}

p {
  font-family: serif;
  word-spacing: 3px;
  font-size: 20px;
  color: #18365f;
}

blockquote{
  width: 50%;
  margin: auto;
  font-size: 160%;
  background-color: lightgrey;
  border-left: 3px solid;
  border-left-color: firebrick;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

q{
  font-style: italic;
}

a{
  font-family: sans-serif;
  font-size: 22px;
}

a:hover{
  color: darkred;
}

a:visited{
  color: tomato;
}

/*CLASSES*/
.farmer{
  color: purple;
}

.villagers{
  color: green;
}
.bad{
  text-transform: capitalize;
  color: red;
}

.good{
  text-transform: capitalize;
  color: green;
}